<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google font integration-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<title>Railway Reservation System</title>
	<!-- styles  -->
	<link rel="stylesheet" href="styles/index.css">
	<!-- fontawesom styles  -->
	<script src="https://kit.fontawesome.com/0a1c131728.js" crossorigin="anonymous"></script>	
</head>
<body>

	<!-- header section start  -->
	<header class="header">
		<nav class="nav-container">
			<div class="nav-logo">
				<img src="images/Train-Image1.png" alt="nav-logo">
				
			</div>
			<div class="nav-menu">
				<ul>
					<li><a href="index.html">Home </a></li>
					<li><a href="login.html">Register</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="train-information.html">Train Information</a></li>
					<li><a href="contact.html">Contact Us</a></li> 
				</ul>
			</div>
		</nav>
		
		
	</header>
	
</body>
</html>