<!doctype html>
<html lang="en">

<head>
    <title>
        Result Page
    </title>
    <link rel="stylesheet" href="styles/result.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <nav class="nav-container">
            <div class="nav-logo">
                <img src="images/Train-Image1.png" alt="nav-logo">

            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="index.html">Home </a></li>
                    <li><a href="profile-show.html">My Profile</a></li>
                    <li><a href="train-information.html">Train Information</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="mainbody">
            <div class="mainbody1">
                <div class="TrainClassContainer">
                    <label>Pick a class:</label>
                    <select id="Trainclass">
                        <option value="15">Buissness Class(15 taka)</option>
                        <option value="12">Economy Class (12taka)</option>
                        <option value="5">Non-ac (5 taka)</option>
                        <option value="10">F-Birth (10 taka)</option>
                    </select>
                </div>
                <ul class="showcase">
                    <li>
                        <div class="seat"></div>
                        <small>N/A</small>
                    </li>

                    <li>
                        <div class="seat selected"></div>
                        <small>Selected</small>
                    </li>

                    <li>
                        <div class="seat occupied"></div>
                        <small>Occupied</small>
                    </li>
                </ul>

                <div class="container">
                    <div class="gapp">
                        <div class="row1">
                            <div class="row">
                                <div class="seat">
                                    <h3>A1</h3>
                                </div>
                                <div class="seat">
                                    <h3>A2</h3>
                                </div>
                                <div class="seat">
                                    <h3>A3</h3>
                                </div>
                                <div class="seat">
                                    <h3>A4</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="seat">
                                    <h3>B1</h3>
                                </div>
                                <div class="seat">
                                    <h3>B2</h3>
                                </div>
                                <div class="seat">
                                    <h3>B3</h3>
                                </div>
                                <div class="seat">
                                    <h3>B4</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="seat">
                                    <h3>C1</h3>
                                </div>
                                <div class="seat">
                                    <h3>C2</h3>
                                </div>
                                <div class="seat">
                                    <h3>C3</h3>
                                </div>
                                <div class="seat">
                                    <h3>C4</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="seat">
                                    <h3>D1</h3>
                                </div>
                                <div class="seat">
                                    <h3>D2</h3>
                                </div>
                                <div class="seat">
                                    <h3>D3</h3>
                                </div>
                                <div class="seat">
                                    <h3>D4</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="seat">
                                    <h3>E1</h3>
                                </div>
                                <div class="seat">
                                    <h3>E2</h3>
                                </div>
                                <div class="seat">
                                    <h3>E3</h3>
                                </div>
                                <div class="seat">
                                    <h3>E4</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row2">
                            <div class="row">
                                <div class="seat">
                                    <h3>A5</h3>
                                </div>
                                <div class="seat">
                                    <h3>A6</h3>
                                </div>
                                <div class="seat">
                                    <h3>A7</h3>
                                </div>
                                <div class="seat">
                                    <h3>A8</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="seat">
                                    <h3>B5</h3>
                                </div>
                                <div class="seat">
                                    <h3>B6</h3>
                                </div>
                                <div class="seat">
                                    <h3>B7</h3>
                                </div>
                                <div class="seat">
                                    <h3>B8</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="seat">
                                    <h3>C5</h3>
                                </div>
                                <div class="seat">
                                    <h3>C6</h3>
                                </div>
                                <div class="seat">
                                    <h3>C7</h3>
                                </div>
                                <div class="seat">
                                    <h3>C8</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="seat">
                                    <h3>D5</h3>
                                </div>
                                <div class="seat">
                                    <h3>D6</h3>
                                </div>
                                <div class="seat">
                                    <h3>D7</h3>
                                </div>
                                <div class="seat">
                                    <h3>D8</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="seat">
                                    <h3>E5</h3>
                                </div>
                                <div class="seat">
                                    <h3>E6</h3>
                                </div>
                                <div class="seat">
                                    <h3>E7</h3>
                                </div>
                                <div class="seat">
                                    <h3>E8</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="main-container">
                <h1>
                    From: <span id="result-from"></span>
                </h1>
                <h1>
                    To: <span id="result-to"> </span>
                </h1>
                <h1>
                    Date: <span id="result-date"></span>
                </h1>
                <h1>
                    Train name: <span id="result-select"></span>
                </h1>
                <h1>
                    Train Class: <span id="result-class"></span>
                </h1>
                <p class="text">
                    You have selected <span id="count">0</span> seats for a price of taka <span id="total">0</span>
                </p>
                <input type="submit" onclick="handlebooknow()" value="Book Now" class=" btn-primary">
            </div>


        </div>
        -->
    </main>
    <script>
        const container = document.querySelector('.container');
        const seats = document.querySelectorAll('.row .seat:not(.occupied');
        const count = document.getElementById('count');
        const total = document.getElementById('total');
        const trainSelect = document.getElementById('Trainclass');

        populateUI();
        let ticketPrice = +trainSelect.value;

        // Save selected movie index and price
        function setTrainData(trainIndex, trainPrice) {
            localStorage.setItem('selectedTrainIndex', trainIndex);
            localStorage.setItem('selectedTrainPrice', trainPrice);
        }

        // update total and count
        function updateSelectedCount() {
            const selectedSeats = document.querySelectorAll('.row .seat.selected');

            const seatsIndex = [...selectedSeats].map((seat) => [...seats].indexOf(seat));

            localStorage.setItem('selectedSeats', JSON.stringify(seatsIndex));

            //copy selected seats into arr
            // map through array
            //return new array of indexes

            const selectedSeatsCount = selectedSeats.length;

            count.innerText = selectedSeatsCount;
            total.innerText = selectedSeatsCount * ticketPrice;
        }

        // get data from localstorage and populate ui
        function populateUI() {
            const selectedSeats = JSON.parse(localStorage.getItem('selectedSeats'));
            if (selectedSeats !== null && selectedSeats.length > 0) {
                seats.forEach((seat, index) => {
                    if (selectedSeats.indexOf(index) > -1) {
                        seat.classList.add('selected');
                    }
                });
            }

            const selectedTrainIndex = localStorage.getItem('selectedTrainIndex');

            if (selectedTrainIndex !== null) {
                trainSelect.selectedIndex = selectedTrainIndex;
            }
        }
        // Train select event
        trainSelect.addEventListener('change', (e) => {
            ticketPrice = +e.target.value;
            setTrainData(e.target.selectedIndex, e.target.value);
            updateSelectedCount();
        });

        // Seat click event
        container.addEventListener('click', (e) => {
            if (e.target.classList.contains('seat') && !e.target.classList.contains('occupied')) {
                e.target.classList.toggle('selected');

                updateSelectedCount();
            }
        });

        // intial count and total
        updateSelectedCount();
    </script>
    <script type="text/javascript" src="result.js"></script>
</body>

</html>