/* header styles*/

.header{
	/* position: fixed; */
    z-index: 999;
    right: 0;
    left: 0;
    background: white;
}

/* navbar styles  */
.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-container .nav-logo{
	display: flex;
	align-items: center;
	/* margin-top: 10px; */
	margin-left: 15px;
	vertical-align: middle;
	height: 50%;
}


.nav-container  .nav-menu ul {
	display: flex;
	text-decoration: none;
	list-style: none;
	/* color: #0000; */
    
    border-radius: 0;
	
	
}

.nav-container .nav-menu ul li a{
	margin-right: 20px ;
	padding: 6px 15px;
	text-decoration: none;
	list-style: none;
	color: #000000;
	
}

.nav-container .nav-menu ul li a:hover{
	background: inherit !important;
    color: #0F2444 !important;
    border-bottom: 2px solid #0F2444;
     
}


@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', 'sans-serif';
}


.TrainClassContainer {
    margin: 20px 0;
}

.TrainClassContainer select {
    background-color: #6fe1ec;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}


.seat {
    background-color: #0f9c0f;
    height: 50px;
    width: 55px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.row {
    display: flex;
}

.gapp {
    display: flex;
    gap: 50px;
}

.seat.selected {
    background-color: #bf0909;
}

.seat.occupied {
    background-color: #6feaf6;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    /* background-color: rgba(13, 95, 122, 0.1); */
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

p.text {
    margin: 5px 0;
    font-size: 30px;
}

p.text span {
    color: #000405;
}

.mainbody {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    align-items: center;

}

form {
    margin: 200px auto 0 auto;
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    margin: 10px auto;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
}

.btn-primary{
	width: 100%;
    background: #006747;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    height: 40px;
}