* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;

}

/*common start*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	background-color: #ffffff;
}

.btn-primary {
	width: 100%;
	background: #006747;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	height: 40px;
}

/*common end*/
/* header styles*/

.header {
	position: fixed;
	z-index: 999;
	right: 0;
	left: 0;
	background: white;
}

/* navbar styles  */
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-container .nav-logo {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-left: 15px;
	vertical-align: middle;
	height: 50%;
}


.nav-container .nav-menu ul {
	display: flex;
	text-decoration: none;
	list-style: none;
	/* color: #0000; */

	border-radius: 0;


}

.nav-container .nav-menu ul li a {
	margin-right: 20px;
	padding: 6px 15px;
	text-decoration: none;
	list-style: none;
	color: #000000;

}

.nav-container .nav-menu ul li a:hover {
	background: inherit !important;
	color: #0F2444 !important;
	border-bottom: 2px solid #0F2444;

}

/* form  section styles  */

/* .main-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:40px;
	
} */

.main-container .form-container form {
	margin-left: 150px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 60px;
}

form input[type=text],
input[type=date] {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;

	font-size: 18px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

form select {
	display: block;
	width: 100%;
	height: 44px;
	padding: 12px 24px;

	font-size: 18px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);

}

#select-option {
	font-size: 18px;
}

#select-option1 {
	font-size: 18px;
}

search-container .btn-header {
	min-width: 100%;
}




.image-box {

	background-size: cover;
	/* cover the entire box with the image */
	/* border: 2px solid black; */
	padding: 20px;
	width: 800px;
	height: 500px;
	background-color: rgb(243, 240, 240);
	/* text-align: center; */
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	height: 398px;
	justify-content: center;

}

.image-box .option-data {
	/* max-width: 312px; */
	/* font-weight: 400px; */
	font-size: 40px;
	/* line-height: 22px; */
	text-align: center;
	/* letter-spacing: 0.1445px; */
	color: #595C7D
}

.main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* align-items: center; */
	gap: 100px;
	margin-left: 15px;
	margin-right: 90px;
}

.search-container {
	margin-top: 100px;
}

/* .Train{
	gap: 40px;
} */
.image-box {
	/* margin-right: 100px; */
	margin-top: 50px;
}

/* .Search_header{
	margin-top: 20px;
} */

div#option-data {
	font-size: 24px;
	font-family: emoji;
}

#submit-btn {
	margin-top: 30px;
	width: 100%;
	background: #006747;
	border-radius: 4px;
	/* border: none; */
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	height: 40px;
}

/*footer*/
.footer {

	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .railwaylogo {
	width: 50%;
}

.footer .railwaylogo {
	/* display: flex;
	align-items: center; */
	margin-top: 10px;
	margin-left: 60px;
	vertical-align: middle;
}

.footer .supervisedby {
	/* align-items: center; */
	margin-right: 250px;
}

.footer .poweredby {
	/* align-items: center; */
	margin-right: 50px;
}